body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: white;
}

canvas {
    background-color: #000;
    border: 2px solid #444;
    box-shadow: 0 0 20px rgba(0,0, 0, 0.5);
}